button {
	margin-right: 5px;
}
dd {
	margin-left: 0;
}
#loading {
	position: fixed;
	top: 10%;
	right: 50%;
	z-index: 9999;
}
.edit_hold hr {
	width: 80%;
}
/*
.link {
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}
*/
.link:hover {
	color: green;
}
.active {
	color: black;
}
.inactive {
	color: silver;
}
.loading {
	background: silver;
	color: white;
}
.failed {
	background: gray;
	color: white;
}

/* Styles for the footer bar.
 */
#footer_bar {
	/*color: gray;*/
	font-size: smaller;
	/*clear: left;*/
}
/*
#footer_bar a {
	color: gray;
*/}
#footer_bar > span {
	padding-right: 10px;
}
/*
#engine img {
	border: none;
	width: 94px;
	height: 16px;
}
*/


.summary_info .info_line > span {
	padding: 0 5px 0 5px;
}
.summary_info .info_line > .author {
	padding: 0 5px 0 10px;
}
.search_tips {
	background: #CCCCCC;
	padding: 10px;
}
.zero_hits {
	padding: 10px 0 10px 0;
}
.hold_list {
	padding: 0 0 10px 0;
}

/* Styles for horizontal spacing of components in status and info lines
 */
.account_summary .status_line span, .account_summary .info_line span, .account_summary .info_line > a, .holding.status_line > span {
	padding: 0 12px 0 0;
}

/* Perform auto-scaling of cover art images
 */
#cover_art .content {
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
}
#cover_art .content img.cover_art {
	width: 100%;
}
.message {
	text-align: center;
}
.search_bar .ui-slider-switch {
	width: 12em;
}
